*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*Facilita no responsivo*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*:before, *:after{
    box-sizing: border-box;
}

/*Boot CSS*/

body{
    height: 100%;
}
html{
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
div.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0 ,0, 0.7);
}
div.background{
    height: 100vh;
    position: relative;
    z-index: 1;
    background-image: url("../images/background.jpg");
    background-position:center; 
    background-repeat:no-repeat; 
    background-size: 100% 100%;
}
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w25{
    width: 25%;
}
.w50{
    width: 50%;
    padding: 0 10%;
}
.w33{
    width: 33%;
    padding: 0 10%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/*Estilização*/
header.mobile{
    display: none;
}
header.desktop{
    display: block;
    background-color: transparent;
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 3;
}
header.desktop i.fa-instagram{
    width: 5%;
    position: relative;
    top: 17px;
    font-size:36px;
    text-align: center;
    line-height: 36px;
    color: white;
    background-color: transparent;
}
header.desktop i.fa-search{
    text-align: center;
    line-height: 36px;
    font-size: 26px;
    height: 100%;
    width: 30%;
    background-color: transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    color: white;
}
header.desktop ul{
    background-color:transparent;
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 30%;
    list-style: none;
    margin-top: 17px;
}
header.desktop ul li{
    width: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
}
header.desktop ul li a{
    text-decoration: none;
    color: white;
}
header.desktop ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
header.desktop ul li a:visited{
    text-decoration:none;
}
header.desktop div.pesquisa{
    left: 20px;
    background-color: transparent;
    width: 18%;
    height: 36px;
    position: relative;
    top: 17px;
    border-radius: 20px;
    border: 1px solid white;
}
header.desktop input{
    background-color: transparent;
    width: 70%;
    height:100%;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 18px;
    padding-left: 15px;
}
header.desktop input:focus{
    border: none;
}
header.desktop button{
    background-color:red;
    width: 15%;
    height: 40px;
    position: relative;
    top: 15px;
    right: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}

main.japan{
    height: calc(100% - 60px);
    position: relative;
    z-index: 3;
}
main.japan div.name{
    height: 385px;
}
main.japan div.name h1{
    text-align: center;
    font-size: 150px;
    font-family:'Lucida Sans', Verdana, sans-serif;
    color: white;
}
main.japan div.name h2{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: white;
}
main.japan div.box-cities{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
main.japan div.cities{
    width: 80%;
    height: 165px;
}
main.japan div.cities figure{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
main.japan div.cities figure .img_cities{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px dotted white;
}
main.japan div.cities figure div.comment{
    margin-left: 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
main.japan div.cities figure h3{
    font-size:22px;
    color: white;
}
main.japan div.cities figure h4{
    font-size: 15px;
    color: white;
}


main.description{
    height: 100%;
    background-color: black;
}
main.description article.image{
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
}
main.description article.image img{
    width: 300px;
    height: 540px;
}


main.description div.container-description{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

main.description article.box-description{
    width: 90%;
    border-right: 2px solid red;
}
main.description article.box-description h2{
    color: red;
    width: 90%;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 30px;
}
main.description article.box-description h1{
    color: white;
    width: 90%;
    font-size: 30px;
    margin-bottom: 40px;
    padding: 0 30px;
}
main.description article.box-description p{
    color: white;
    width: 90%;
    text-align:left;
    margin-bottom: 40px;
    padding: 0 30px;
    font-size: 15px;
}
main.description article.box-description ul{
    display: flex;
    flex-direction: row;
    height: 36px;
    width: 90%;
    list-style: none;
    margin-bottom: 40px;
}
main.description article.box-description ul li{
    width: 100%;
    height: 36px;
}
main.description article.box-description ul li a{
    margin: 0 30px;
    line-height: 36px;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 9px;
    border-bottom: 1px solid white;

}
main.description article.box-description ul li a:hover{
    color: red !important;
    cursor: pointer;
    padding-bottom: 9px;
    border-bottom: 2px solid red;
}
main.description article.box-description ul li a:visited{
    color: white;
    text-decoration: none;
}
main.description article.box-description button{
    background-color:red;
    width: 150px;
    height: 40px;
    position: relative;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin: 0 26px;
}
footer{
    background-color: rgb(41, 41, 41);
    height: 10vh;
}
footer h1{
    line-height: 10vh;
    text-align: center;
    font-size: 16px;
    color: white;
}
footer i.fa-copyright{
    color: red;
}

@media screen and (max-width: 900px) {
    header.desktop{
        display: none;
    }
    header.mobile{
        display: block;
        position: relative;
        z-index: 3;
    }
    .botao-menu-mobile {
        float: right;
        width:80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        cursor: pointer;
        color: red;
    }
    header.mobile ul {
        top: 80px;
        z-index: 4;
        position: absolute;
        right: 0;
        width: 40%;
        display: none;
        text-align: center;
    }
    header.mobile ul li {
        font-weight: 300;
        width: 100%;
        display: block;
        font-size: 17px;
        line-height: 45px;
    }
    header.mobile ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    header.mobile ul li:hover {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background: rgb(114, 114, 114);
    }
    header.mobile ul li a:hover{
        font-weight: bold;
        color: white;
        width: 100%;
        height: 100%;
    }
    header.mobile i.fa-search,
    header.mobile i.fa-instagram,
    header.mobile input,
    header.mobile button{
        display: none;
    }
    div.background{
        background-image: none;
        background-color: black;
    }
    main.japan div.name {
        border-left: 2px solid red;
        /* border-left: 2px dotted red; */
    }
    main.japan div.name h1{
        font-size: 80px;
    }
    main.japan div.name h2{
        font-size: 22px;
    }
    main.japan div.name{
        height:250px;
    }
    main.japan div.box-cities{
        border-right: 2px solid red;
    }
    main.japan div.cities{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 270px;
        width: 100%;
    }
    main.japan div.cities figure{
        width: 170px;
        height: 120px;
    }
    main.description{
        height:850px;
    }
    main.description article.image{
        width: 100%;
        height: 400px;
        margin-top: 40px 0;
    }
    main.description article.image img{
        width: 200px;
        height: 360px;
        -webkit-box-shadow: 2px 5px 45px 1px rgba(255,0,0,1);
        -moz-box-shadow: 2px 5px 45px 1px rgba(255,0,0,1);
        box-shadow: 2px 5px 45px 1px rgba(255,0,0,1);
    }
    main.description div.container-description{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    main.japan div.cities figure .img_cities{
        border: 1px solid white;
    }
    main.description article.box-description ul li:nth-of-type(1){
        margin-left: 30px;
    }
    main.description article.box-description ul li a{
        margin: 0 10px;
    }
}



